@model UniversityManage.Model.StudentCourse
@{
    ViewData["Title"] = "Student";

}

    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Edit Student </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="AddEnrollment" method="post">
                    <div asp-validation-summary="All" class="text-warning">

                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="@Model.StudentId">Student Id</label>
                            <input asp-for="@Model.StudentId" type="text" class="form-control" placeholder="Enter studentid">
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CourseId">Select Course</label>
                            <select class="form-control" asp-for="@Model.CourseId">
                                @if (ViewData["courses"] != null)
                                {
                                    var result = (List<UniversityManage.Model.Course>)ViewData["courses"];
                                    foreach (var row in result)
                                    {
                                        <option value="@row.Id"> @row.Name </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>