@model UniversityManage.Model.Instructor
@{
    ViewData["Title"] = "Edit Enrollment";

    var inst = new Instructor();
    if (Model != null)
    {
        inst = Model;
    }
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Edit Instructor </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="EditInstructor" method="post">
                <div asp-validation-summary="All" class="text-warning">

                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label asp-for="@Model.Name">Instructor Name</label>
                        <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Enter name" value="@inst.Name">
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.DepartmentId">Select Course</label>
                        <select class="form-control" asp-for="@Model.DepartmentId">
                            @if (ViewData["departments"] != null)
                            {
                                var result = (List<UniversityManage.Model.Department>)ViewData["departments"];
                                foreach (var row in result)
                                {
                                    if (row.Id == inst.DepartmentId)
                                    {
                                        <option value="@row.Id" selected> @row.Name </option>
                                    }
                                    else
                                    {
                                        <option value="@row.Id"> @row.Name </option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Salary">Instructor Salary</label>
                        <input asp-for="@Model.Salary" type="number" class="form-control" placeholder="Enter Numebr" value="@inst.Salary">
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>