@model UniversityManage.Model.Student
@{
    ViewData["Title"] = "Edit Student";

    var student = new Student();
    if(Model != null)
    {
        student = Model;
    }
}

<div class="row">
    <div class="col-md-6">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Edit Student @student.Name</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="addstudent" method="post">
                <div asp-validation-summary="All" class="text-warning">

                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="@Model.Id">Student Id</label>
                        
                        <select asp-for="@Model.Id">
                            <option value="@student.Id">@student.Id</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Name">Student Name</label>
                        <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Enter name" value="@student.Name">
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DepartmentId">Department Name</label>
                        <select class="form-control" asp-for="@Model.DepartmentId">
                            @if (ViewData["departments"] != null)
                            {
                                var result = (List<UniversityManage.Model.Department>)ViewData["departments"];
                                foreach (var dept in result)
                                {
                                    if (dept.Id == student.DepartmentId)
                                    {
                                        <option value="@dept.Id" selected> @dept.Name </option>
                                    }
                                    else
                                    {
                                        <option value="@dept.Id"> @dept.Name </option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>