@model UniversityManage.Model.Student
@{
    ViewData["Title"] = "Student";

}

<div class="row">
    <div class="col-md-6">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add New Student</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="addstudent" method="post">
                <div asp-validation-summary="All" class="text-warning">

                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="@Model.Name">Student Name</label>
                        <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.DepartmentId">Department Name</label>
                        <select class="form-control" asp-for="@Model.DepartmentId">
                            @if (ViewData["departments"] != null)
                            {
                                var result = (List<UniversityManage.Model.Department>)ViewData["departments"];
                                foreach (var dept in result)
                                {
                                    <option value="@dept.Id"> @dept.Name </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>